:root {
  --black: #0d0d0d;
  --red: #CC0A0A
}

#home {
  background-color: var(--black);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

section {
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: Vogue;
  src: url(/font/Vogue.ttf) format("opentype");
}

#lorenna {
  position: relative;
  min-height: 100vh;
  background-color: var(--black);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

#lorenna canvas {
  width: 100vw !important;
  height: 100vh !important;
}

#lorenna > .card-glass {
  position: relative;
  z-index: 1;
}

.title {
  font-family: 'Vogue';
  font-size: 2rem ;
}